<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="description"  content="CV Antoine Gallienne">
    <meta name="author"       content="Gallienne Antoine">
    <meta name="copyright"    content="MIT">

    <link rel="stylesheet" href="../public/style/style.css">

    <title> AG-Activités-Loisirs </title>

</head>

<body>

<main class="activites">

    <section class="page-activites">

        <section class="perso-activites" >

            <section class="sigleag">
                <a href="../index.html"><img src="../public/img/AG.webp" alt="sigleAG"></a>
            </section>

            <section class="photo">
                <img src="../public/img/photo.webp" alt="sigle photo">
            </section>

            <section class="dessin">
                <img src="../public/img/dessin.webp" alt="sigle dessin">
            </section>

            <section class="cuisine">
                <img src="../public/img/cuisine.webp" alt="sigle cuisine">
            </section>

            <section class="jardin">
                <img src="../public/img/jardin.webp" alt="sigle jardin">
            </section>

        </section>

    </section>

</main>
</body>
</html>
