<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="description"  content="CV Antoine Gallienne">
    <meta name="author"       content="Gallienne Antoine">
    <meta name="copyright"    content="MIT">

    <link rel="stylesheet" href="../public/style/style.css">

    <title> Saint Maigner (63) </title>
</head>

<body>

<main class="cv">
    <section class="page-contact">

    </section>

<section class="perso" >

    <section class="stmaigner">
        <h3> Saint Maigner (63) </h3>
        <p>
        </p>
    </section>

    <section class="etangduvert">
        <h3> Etang du Vert</h3>
        <p>
        </p>
    </section>

</section>


</main>
</body>
</html>
