@font-face {
    font-family: 'ModernSans-Light';
    src: url('../font/ModernSans-Light.otf') format('opentype'),
    url('../font/ModernSans-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Louis George Cafe';
    src: url('../font/Louis George Cafe.ttf') format('truetype'),
    url('../font/Louis George Cafe Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: #509067;
    margin: auto;
}

main{
    display: flex;
    flex-direction: column;
    color: beige;
    background-image: url('../img/haiecv.webp');
    width: 100%;

}

header {
    padding: 3.6vh 0 8vh 2vw;
}

header h1 {
    font-size: 2.5rem;
    font-family: 'ModernSans-Light';
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}
h1 span {
    font-size: 2.3rem;
    color: #309067; /* Antoine en vert */
}
header h2 {
    font-family: 'ModernSans-Light';
    font-size: 1.2rem;
    margin: 0;
}

main a{
    color: beige;
    text-decoration: none;
}
main a:hover {
    color: #E6E6E6; /* gris claire */
}


main h3{
    font-family: 'ModernSans-Light';
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #509067;
    text-align: center;
    padding: 2vh 0 2vh 0;
    background-image: url('../img/haie.webp');
}

.adresse,
.telephone,
.mail{
    font-size: 1.1rem;
    margin: 0 2vw 2vh 2vw;
}

main p {
    font-size: 1.1rem;
    margin: 0 2vw 2vh 3vw;
}

/* --------------  à propos de moi  ----------------
------------------------------------------*/

.perso{
    background-color: #010501;
    font-family: 'ModernSans-Light';

    overflow: auto;
}
figure{
    padding-top: 1.9rem;
}
.apropos h3{
    text-align: left;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #509067;
    padding: 2vh 0 2vh 2vw;
}

.apropos p {
    color: beige;
    margin: 2vh 2vw 0 2vw;
    font-size: 1rem;
}

.loisir h3{
    text-align: left;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #509067;
    padding: 2vh 0 2vh 2vw;
}

.loisir p{
    color: beige;
    margin: 2vh 2vw 4vh 2vw;
    font-size: 1rem;
}

/*------------------ liste-loisir -----------------------------*/

.liste-loisir ul {
    list-style-type: none;
}

p[class*='impression'],
p[class*='jardinage'],
p[class*='marche'],
p[class*='moto'],
p[class*='cuisine'],
p[class*='photo'],
p[class*='dessin'] {
    position: relative;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #509067;
}

p[class*='impression']{
    left:16vw;
    bottom:40px;
}
p[class*='jardinage']{
    left:0;
    bottom:30px;
}
p[class*='marche']{
    left:55vw;
    bottom:10px;
}
p[class*='moto']{
    left:40vw;
}
p[class*='cuisine']{
    left:25vw;
    bottom:15px;
}
p[class*='photo']{
    left:50vw;
    bottom:10px;
}
p[class*='dessin']{
    left:10vw;
    top:20px;
}
/* ------------- section formation/experience ---------*/

.parcours {
    color: #223;
    background-color: #E6EAE7;
    height: auto;
    overflow:scroll;
}

.parcours h2{
    font-family: 'ModernSans-Light';
    font-size: 2rem;
    margin: 7vh 2vw 5vh 2vw;
}

.parcours h3{
    box-sizing: content-box;
    width: 1%;
    font-family: 'ModernSans-Light';
    text-align: left;
    margin: 8vh 1rem 5vh 0;
    padding-right: 2rem;
}

.formation li{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 3vh auto;
}

.defparcour{
    padding-left: 2vw;
    border-left: solid #222 3px;
}



/*  -----------------  pour les écrans moyens de 768px tablette  -------------*/
/* -------------------------------------------------------------------------------*/


@media screen and (min-width: 768px) {


    body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        margin: auto;
        border: solid red 2px;
    }
    .perso{
        width: 50%;
    }
    main {
        width: 50%;
    }
    .parcours {
        width: 100%;
        overflow: auto;
    }

    .apropos {
        order: -1;
    }

    /* liste loisir */

    p[class*='impression']{
        left:0vw;
        bottom:140px;
    }
    p[class*='jardinage']{
        left:15vw;
        bottom:130px;
    }
    p[class*='marche']{
        left:15vw;
        bottom:160px;
    }
    p[class*='moto']{
        left:4vw;
        top:20px;
    }
    p[class*='cuisine']{
        left:2vw;
        bottom:15px;
    }
    p[class*='photo']{
        left:5vw;
        bottom:50px;
    }
    p[class*='dessin']{
        left:20vw;
        top:50px;
    }

}

/*  -----------------  pour les écrans de 900px  -------------*/
/* -------------------------------------------------------------------------------*/


@media screen and (min-width: 900px) {

    body {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 100%;
        margin: auto;
        border: solid yellow 2px;
    }

    .perso {
        width: 30%;
    }

    main {
        width: 30%;
    }

    .parcours {
        width: 40%;

    }

    /* liste loisir */

    p[class*='impression'] {
        left: 0px;
        bottom: 40px;
    }

    p[class*='jardinage'] {
        left: 20px;
        bottom: 45px;
    }

    p[class*='marche'] {
        left: 15px;
        bottom: 70px;
    }

    p[class*='moto'] {
        left: 110px;
    }

    p[class*='cuisine'] {
        left: 100px;
        bottom: 15px;
    }

    p[class*='photo'] {
        left: 55px;
        bottom: 5px;
    }

    p[class*='dessin'] {
        left: 10px;
        top: 20px;
    }

    /* -------------------------- */
}

/*  -----------------  pour les écrans de 1700px  -------------*/
/* -------------------------------------------------------------------------------*/


@media screen and (min-width: 1700px) {

    body {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 100%;
        margin: auto;
        border: solid green 2px;
    }

    .perso {
        width: 25%;
    }

    main {
        width: 25%;
    }

    .parcours {
        width: 70%;

    }

    .apropos {
        order: -1;
    }

    /* liste loisir */

    p[class*='impression']{
        left:10px;
        bottom:40px;
    }
    p[class*='jardinage']{
        bottom:45px;
        left:110px;
    }
    p[class*='marche']{
        left:160px;
        bottom:70px;
    }
    p[class*='moto']{
        left:40px;
    }
    p[class*='cuisine']{
        left:70px;
        bottom:15px;
    }
    p[class*='photo']{
        left:200px;
        bottom:10px;
    }
    p[class*='dessin']{
        left:10px;
        top:20px;
    }
    /* -------------------------- */

}