

/*

@keyframes shake {
	
	
 20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.bounceOut {
  animation-duration: calc(var(--animate-duration) * 0.75);
  animation-name: bounceOut;

}

*/



@font-face {
    font-family: 'Quintessential-Regular';
    src: url('font/Quintessential-Regular.ttf');
}
@font-face {
    font-family: 'NotoMono-Regular';
    src: url('font/NotoMono-Regular.ttf');
}

body{
	background-image: url('../img/haie.webp');
    background-attachment: fixed;
}

nav{

}
nav ul{
	display:flex;
	flex-direction: column;
	width:90%;
	}             
nav li {
	display:block;
}
nav a{
	color: #576D2E;
	font-size: 2rem;
}
nav a:hover{
    color: white;
}

main h2{
	color:none;
	width:10%;
	padding: 0 0 0 30vw;
}
h2:hover{
		color:white;
	animation: shake 1s;

}
footer{
}
/*  -----------------  pour les écrans moyens de 768px tablette  -------------*/
/* -------------------------------------------------------------------------------*/

@media screen and (min-width: 768px) {

	nav ul {
		display: flex;
		flex-direction: row;
		width: 90%;
	}
}