//

@font-face {
  font-family: 'ModernSans-Light';
  src: url('/public/font/ModernSans-Light.otf') format('opentype'),
  url('/public/font/ModernSans-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


