.cv{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.page-contact{
  display: flex;
  flex-direction: column;
  background-image: url('../../public/img/haiecv.webp');
    width: 100%;
}

header {
    padding: 3.6vh 0 8vh 2vw;
}

header h1 {
  color: $paragraphe;
  font-size: 2.5rem;
  font-family: 'ModernSans-Light';
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}
h1 span {
  font-size: 2.3rem;
  color: $h1; /* Antoine en vert */
}

.page-contact h3,
.apropos h3,
.loisir h3{
  font-family: 'ModernSans-Light';
  text-align: left;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: $h3;
  padding: 2vh 0 2vh 2vw;
}
/*
.page-contact h3{
  background-image: url('../../public/img/haie.webp');
}*/

.page-contact h4{
  color: $paragraphe;
}

.page-contact a{
  color: $paragraphe;
  text-decoration: none;
}
.page-contact a:hover {
  color: $hover; /* gris claire */
}

.adresse,
.telephone,
.mail{
  font-size: 1.1rem;
  margin: 0 2vw 2vh 2vw;
}

.page-contact p {
  margin: 0 2vw 2vh 3vw;
}

.perso{
  background-color: $bperso;
  font-family: 'ModernSans-Light';
}
figure{
  padding-top: 1.9rem;
}

.page-contact p,
.apropos p,
.loisir p{
  color: $paragraphe;
  font-size: 1rem;
}
.apropos p, {
  margin: 2vh 2vw 0 2vw;
}

.loisir p{
  margin: 2vh 2vw 4vh 2vw;
}

/*------- liste-loisir ----------*/

.liste-loisir ul {
  list-style-type: none;
}

p[class*='impression'],
p[class*='jardinage'],
p[class*='marche'],
p[class*='moto'],
p[class*='cuisine'],
p[class*='photo'],
p[class*='dessin'] {
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: $h1;
}

p[class*='impression']{
  left:16vw;
  bottom:40px;
}
p[class*='jardinage']{
  left:0;
  bottom:10px;
}
p[class*='marche']{
  left:55vw;
  bottom:10px;
}
p[class*='moto']{
  left:40vw;
}
p[class*='cuisine']{
  left:25vw;
  bottom:15px;
}
p[class*='photo']{
  left:50vw;
  bottom:10px;
}
p[class*='dessin']{
  left:10vw;
  top:20px;
}
/* ----- section formation/experience -----*/

.parcours {
  color: $parcour;
  background-color: $bparcour;
}

.parcours h2{
  font-family: 'ModernSans-Light';
  font-size: 2rem;
  margin: 7vh 2vw 5vh 2vw;
}

.parcours h3{
  box-sizing: content-box;
  width: 1%;
  font-family: 'ModernSans-Light';
  text-align: left;
  margin: 8vh 1rem 5vh 0;
  padding-right: 2rem;
}

.formation li{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 3vh auto;
}

.defparcour{
  padding-left: 2vw;
  border-left: solid #222 3px;
}

// -----       media query          ----
// -------------------------------------

body {

    @include media-min(768px) {

       .cv {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 100%;
            margin: auto;
            border: solid red 2px;
        }
        .perso {
            width: 49%;
        }
        .page-contact{
            width: 49%;
        }
        .parcours {
            width: 90%;
           /* overflow: auto;*/
        }

        .apropos {
            order: -1;
        }

        /* liste loisir */

        p[class*='impression'] {
            left: 0vw;
            bottom: 140px;
        }
        p[class*='jardinage'] {
            left: 15vw;
            bottom: 130px;
        }
        p[class*='marche'] {
            left: 15vw;
            bottom: 160px;
        }
        p[class*='moto'] {
            left: 4vw;
            top: 20px;
        }
        p[class*='cuisine'] {
            left: 2vw;
            bottom: 15px;
        }
        p[class*='photo'] {
            left: 5vw;
            bottom: 50px;
        }
        p[class*='dessin'] {
            left: 20vw;
            top: 50px;
        }
    }

    @include media-min(900px) {

      .cv {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            max-width: 100%;
            margin: auto;
           /* border: solid yellow 2px;*/
        }

        .perso {
            width: 30%;
        }

        .page-contact {
            width: 30%;
        }

        .parcours {
            width: 40%;

        }

        /* liste loisir */

        p[class*='impression'] {
            left: 0px;
            bottom: 40px;
        }

        p[class*='jardinage'] {
            left: 20px;
            bottom: 45px;
        }

        p[class*='marche'] {
            left: 15px;
            bottom: 70px;
        }

        p[class*='moto'] {
            left: 110px;
        }

        p[class*='cuisine'] {
            left: 100px;
            bottom: 15px;
        }

        p[class*='photo'] {
            left: 55px;
            bottom: 5px;
        }

        p[class*='dessin'] {
            left: 10px;
            top: 20px;
        }

        /* -------------------------- */


    }

    @include media-min(1700px) {

        .cv {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            max-width: 100%;
            margin: auto;
          /*  border: solid green 2px;*/
        }

        .perso {
            width: 25%;
        }

        .page-contact {
            width: 25%;
        }

        .parcours {
            width: 70%;

        }

        .apropos {
            order: -1;
        }

        /* liste loisir */

        p[class*='impression']{
            left:10px;
            bottom:40px;
        }
        p[class*='jardinage']{
            bottom:45px;
            left:50px;
        }
        p[class*='marche']{
            left:160px;
            bottom:70px;
        }
        p[class*='moto']{
            left:40px;
        }
        p[class*='cuisine']{
            left:70px;
            bottom:15px;
        }
        p[class*='photo']{
            left:200px;
            bottom:10px;
        }
        p[class*='dessin']{
            left:10px;
            top:20px;
        }
        /* -------------------------- */
    }



}