
.activites{
	width: 100%;
	margin: auto;
}

.perso-activites{
	background-image: url('../../public/img/bouleau.webp');
    /*background-attachment: fixed;*/
	height: 800px;
}

.perso-activites{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;

	row-gap: 1.5em; /* goutière horizontal */
	column-gap: 0.3em; /* goutière vertical */

	margin: auto;
	width: 30rem;
	height: 30rem;
}

.dessin{
	grid-area: 1/2/2/3;
}
.jardin{
	grid-area: 2/1/3/2;
}
.sigleag{
	grid-area: 2/2/3/3;
}
.cuisine{
	grid-area: 2/3/3/4;
}
.photo{
	grid-area: 3/2/4/3;
}

.photo img,
.cuisine img,
.dessin img,
.jardin img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 9rem;
}

.sigleag img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 5rem;

}




/*  -----------------  pour les écrans moyens de 768px tablette  -------------*/
/* -------------------------------------------------------------------------------*/

body {

	@include media-min(768px) {

		.perso-activites {
			width: 40rem;
			height: 40rem;
		}
	}
	@include media-min(1024px) {
		.perso-activites {
			width: 50rem;
			height: 50rem;
		}
	}
}


/*
.photo img{
	width: 10rem;
}
.cuisine img{
	width: 10rem;
}
.dessin img{
	width: 10rem;
}
.jardin img{
	width: 10rem;
}*/

/*
.cuisine h3,
.dessin h3,
.jardin h3{
	font-size: 1rem;
	color: #576D2E;
}

.photographie,
.cuisine,
.dessin,
.jardin{
	text-align: center;
	margin: auto;
}
*/