
// --------- variable couleur  ----------
//---------------------------------------

$h1: #309067;
$h3: #509067;
$paragraphe: #F5F5DC;
$parcour: #223;
$bparcour: #E6EAE7;
$bperso: #010501;

$hover: #E6E6E6;




//---------------------------------------